/* test */
.test{
  color:#63c;
  font-family:sans-serif;
  font-size:30px;
}
.visible{
  display:none;
}
nav{
  padding-right:15px;;
}
span{
  float:right;
  margin-left:20px;
}
span#one{
  float:left;
}
h1.text-center{
  padding-top:100px;
  margin-bottom:30px;
}
p{
  padding-left:10%;
  padding-right:10%;
}
footer{
  text-align:center;
  margin-top:45vh;
  color:dodgerblue;
}
